.button--primary {
  background: $blue;
  color: #fff;
  border: 1px solid $blue;
  font-size: rem(24);

  &:hover {
    background: transparent;
  }
}

.button--outlined {
  border: 1px solid transparentize(#fff, .5);
  color: #fff;
}

.button--link {
  padding: $s-size;

  svg {
    margin: 0;
  }
}

.button--search {
  margin-right: $m-size;
  
  div {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: -8px;
      bottom: -2px;
      transform: rotate(45deg);
      width: 10px;
      height: 1px;
      background: #fff;
    }
  }
}

.button--block { display: block; }

.button--back {
  color: #fff;
  position: relative;
  padding: 0 $m-size;
  left: 0;
  @include transition();

  &:before {
    content: '';
    position: absolute;
    left: -40px;
    bottom: 10px;
    margin: auto;
    width: 40px;
    height: 1px;
    background: #fff;
  }

  &:after {
    content: '';
    position: absolute;
    left: -40px;
    bottom: 14px;
    margin: auto;
    width: 10px;
    height: 1px;
    background: #fff;
    @include transform(rotate(-45deg));
  }

  &:hover {
    left: -10px;
  }
}

.button--add-favorite {
  padding: 0;
}

.button--favorites {
  &:hover {
    background: $red !important;
    border: 1px solid $red !important;
  }
}

.button--key {
  text-decoration: none;
  color: #fff;
  padding: $s-size;
  border: 1px solid #fff;
  border-radius: 15px;
  display: inline-block;
  margin-right: rem(12);
  margin-bottom: $s-size;

  &:hover {
    background: rgba(255, 255, 255, .2);
  }
}

.button--icon {
  font-size: 1.6rem !important;
}

.button--muted {
  background: $muted;
  color: $off-black;

  &:hover {
    background: darken($muted, 10%);
  }

  &:disabled {
    opacity: 1;
  }
}