.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 0 $padding;
  padding-top: $top;
  position: relative;

  @media (min-width: $desktop) {
    width: 1360px;
    margin: auto;
  }

  @media (max-width: $laptop) {
    padding: $l-size;
  }

  @media (max-width: $mobile) {
    padding: $l-size $s-size;
  }
}

.container-full {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container__root {
  @media (min-width: $desktop) {
    width: 1360px;
    margin: auto;
  }
}

.container__wrapper {
  @extend .container;
  padding-top: 0;
}

.container__movies {
  @media (min-width: $desktop) {
    width: 1360px;
    padding: 0 $xl-size;
    margin: auto;
  }
}

.backdrop__container {
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: transparentize($dark-blue-0, .3);

    @media (max-width: $mobile) {
      background: transparentize($dark-blue-0, .7);
    }
  }
}