.navigation {
  width: 100%;
  height: 100px;  
  padding: 0 $xl-size;
  background: linear-gradient(to bottom, rgba(5,6,7,1) 0%,rgba(5,6,7,1) 1%,rgba(3,4,5,0.86) 32%,rgba(1,1,2,0.32) 75%,rgba(0,0,0,0) 100%);
  position: absolute;
  top: 0;
  transition: all .3s ease;
  box-shadow: none;
  z-index: 15;
  
  @include tablet {
    position: fixed !important;
    height: 60px;  
    background: $dark-blue-0 !important;
    box-shadow: 0 8px 20px rgba(0,0,0,.1);
  }

  @include mobile {
    padding: 0;
  }
}

.navigation__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;

  @include desktop {
    width: 1360px;
  }
  
}

.navigation__menu {
  display: flex;
  align-items: center;
  @include transition();

  @include tablet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    background: $dark-blue-1;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
    @include transform(scaleY(0));
  }
}

.navigation__menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  @include tablet {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    visibility: hidden;
  }
}


.navigation__search {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  @include transition();

  @include tablet {
    width: 100%;
    background: $dark-blue-0;
    position: absolute; 
    right: 0;
    top: 0;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
    transform-origin: top;
    @include transform(scaleY(0));
  }

  input {
    @include tablet {
      width: 100%;
    }
  }
}

.navigation__link {
  color: #fff;
  opacity: .7;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 $m-size;
  text-decoration: none;
  position: relative;

  @include tablet {
    display: block;
    width: 100%;
    padding: $m-size;
    padding-left: $l-size;
    margin: 0;
  }
}

.navigation__link:not(:last-child) {
  @include tablet {
    border-bottom: 1px solid lighten($dark-blue-1, 10%);
  }
}

.navigation__active {
  font-weight: 700;
  opacity: 1;

  @include tablet {
    color: $blue;
    background: transparentize($blue, .9);
  }
}

.navigation__active:after {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background: $blue;
  
  @include laptop {
    right: 0;
  }

  @include tablet {
    bottom: 0;
    top: 0;
    width: 3px;
    height: 100%;
    margin: 0;
    // display: none;
  }
}


.navigation__dropdown {
  position: relative;

  @include tablet {
    width: 100%;
  }
}

.navigation__dropdown-item:hover + .navigation__dropdown-wrapper {
  visibility: visible;
  @include transform(scaleY(1));
  opacity: 1;
}

.navigation__dropdown-wrapper {
  width: 150px;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index:2;
  background: $blue;
  opacity: 0;
  transform-origin: top;
  @include transition();
  @include transform(scaleY(0));

  &:hover {
    @include transform(scaleY(1));
    visibility: visible;
    opacity: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: -16px; 
    left: 20%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent $blue transparent;
  }

  @include tablet {
    display: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: $s-size $m-size;

    &:hover {
      background: darken($blue, 10%);
    }
  }
}

.navigation__logo {
  margin: $l-size;

  img {
    width: 90px;
    margin-top: 5px;

    @include mobile {
      width: 70px;
    }
  }

  h1 {
    letter-spacing: 5px;
  }

  @include tablet {
    width: 100%;
    text-align: center;
  }
}

.navigation__toggle {
  position: absolute;
  left: 10px;
  font-size: 1.8rem !important;
  display: none;
  color: #fff;

  @include tablet {
    display: block;
  }


  &:hover {
    cursor: pointer;
  }
}

.desktop-hide {
  @media (min-width: $tablet) {
    display: none;
  }
}