.tab-list {
  border-bottom: 1px solid lighten($dark-blue-1, 10%);
  padding: 0 $m-size;

  @media (max-width: $mobile) {
    padding: 0;
  }
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: $s-size $m-size;
  font-size: rem(28);

  @media (max-width: $mobile) {
    font-size: rem(20);
    padding: $s-size;
  }

  &:hover {
    cursor: pointer;
  }
}

.tab-list-active {
  background-color: $dark-blue-1;
  border: 1px solid lighten($dark-blue-1, 10%);
  border-width: 1px 1px 0 1px;
}