.error {
  height: 100vh;  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $l-size;

  h1 {
    margin-bottom: 0;
  }
  
  p {
    margin-bottom: $l-size;
    opacity: .7;
  }
}
