.movie__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: $s-size;
  justify-items: center;
  padding: $l-size $m-size;
}

.movie__header {
  padding: $m-size;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}

.movie__header-title {
  h1 {
    text-transform: capitalize;
  }
  
  h3 {
    color: #a1a1a1;
  }
}