.view {
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 1;
  display: flex;
  padding-top: $xl-size;
  padding-bottom: $xl-size;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.view__poster {
  width: 300px;
  height: 450px;
  background: #f1f1f1;
  border-radius: 6px;

  @media (max-width: $mobile) {
    width: 100%;
    margin: auto;
  }

  .LazyLoad {
    width: 100% !important;
    height: 450px;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
  }
}

.view__details {
  padding: 0 $xl-size;

  @media (max-width: $mobile) {
    padding: 0;
  }

  p {
    width: 100%;
    max-height: 250px;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    @media (max-width: $mobile) {
      width: 100%;
      margin-bottom: $m-size;
    }
  }
}

.view__title {
  font-size: $l-size;
  margin-bottom: $s-size;

  span {
    opacity: .5;
  }
}

.view__rating {
  margin-top: 0;
}

.view__actions {
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.view__not-found {
  margin-top: rem(250);
  text-align: center;
}

.back__button {
  width: 80%;
  position: relative;
  z-index: 1;
  padding-top: $l-size;
  margin-top: rem(150);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $mobile) {
    left: $m-size;
  }
}