.view {
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 1;
  display: flex;
  padding-top: $xl-size;
  padding-bottom: $xl-1-size;

  @media (min-width: $desktop) {
    width: 1360px;
    padding: $xl-size;
  }

  @media (max-width: $tablet) {
    width: 85%; 
  }

  @media (max-width: $mobile) {
    width: 90%; 
    flex-direction: column;
    padding-top: rem(200);
    padding-bottom: $xl-size;
  }
}

.view__poster {
  width: 300px;
  height: 450px;
  background: #f1f1f1;
  border-radius: 6px;
  position: relative;

  @media (max-width: $mobile) {
    width: 250px;
    height: 350px;
  }

  .LazyLoad {
    width: 300px;
    height: 450px;

    @media (max-width: $mobile) {
      width: 100% !important;
      height: 350px !important;
    }
  }

  img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
  }
}

.view__details {
  padding: 0 $xl-size;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
   
  @media (max-width: $tablet) {
    padding-right: 0;
    padding-left: $m-size;
  }

  @media (max-width: $mobile) {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.view__overview-title {
  @media (max-width: $mobile) {
    display: none;
  }
}

.view__overview {
  width: 100%;
  max-height: 200px;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $mobile) {
    order: 3;
    margin-top: 0;
    max-height: none;
    overflow: auto;
    text-overflow: none;
    -webkit-line-clamp: 0;
    display: block;
  }
}

.view__title {
  font-size: $l-size;
  margin-bottom: $s-size;
  position: relative;

  @media (max-width: $mobile) {
    order: 2;
    margin-top: 0;
  }

  span {
    opacity: .5;

    @media (max-width: $mobile) {
      font-size: $m-size;
    }
  }
}

.view__rating {
  margin-top: 0;

  @media (max-width: $mobile) {
    order: 1;
    margin-top: $s-size;
    margin-bottom: 0;
  }
}

.view__rank {
  position: absolute;
  color: #fff;
  background: $blue;
  top: 0;
  right: 0;
  border-top-right-radius: 6px;

  h6 {
    padding: $s-size $m-size;
    margin: 0;
  }
}

.view__actions {
  display: flex;
  align-items: center;
  justify-self: flex-end;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  @media (max-width: $mobile) {
    order: 4;
  }

  button {
    @media (max-width: $tablet) {
      width: 100%;
      margin-bottom: $m-size;
    }

    @media (max-width: $mobile) {
      margin-right: 0;
    }
  }
}

.view__not-found {
  margin-top: rem(250);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back__button {
  width: 80%;
  position: relative;
  z-index: 1;
  padding-top: $l-size;
  margin-top: rem(150);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop) {
    width: 1360px;
  }

  @media (max-width: $mobile) {
    left: $m-size;
    display: none;
  }
}

.icon {
  padding: 0 2px;
  color: #fff;
}
.icon-star {
  color: yellow;
}

.icon-heart {
  font-size: 20px;
}

.icon-heart,
.icon-play {
  margin-left: 10px;
}


.similar__wrapper {
  width: 85%;
  margin: auto;

  @media (max-width: $mobile) {
    width: 90%;
  }
}