.movie__view {
  padding: $m-size $l-size; 
  display: flex;
  margin-top: $xl-size;
}

.movie__view-poster {
  width: 300px;
  height: 450px;
  background: #f1f1f1;
  border-radius: 6px;

  img {
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
  }
}

.movie__view-details {
  padding: 0 $xl-size;
}

.movie__title {
  font-size: $l-size;
  margin-bottom: $s-size;

  span {
    opacity: .5;
  }
}

.movie__rating {
  margin-top: 0;
}

.movie__not-found {
  margin-top: $xl-size;
  text-align: center;
}