.not-found-page {
  height: 100vh;  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  text-align: center;
  padding-top: $xl-1-size;
}