.container {
  width: 100%;
  height: auto;
  padding: $l-size $xl-size;
  margin-top: $xl-size;
  position: relative;
}

.container__wrapper {
  width: 85%;
  margin: auto;
  position: relative;
}

.container__backdrop {
  padding: 0;
  margin-top: 0;
}

.container__backdrop-wrapper {
  width: 100%;
}

.backdrop__container {
  width: 100%;
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: transparentize($dark-blue-0, .1);
  }
}