.filter {
  padding: $l-size;
  display: flex;
  flex-direction: row;

  @media (max-width: $tablet) {
    padding: 0;
  }
}

.filter__wrapper {
  display: flex;
  align-items: center;
  @include transition();


  @media (max-width: $tablet) {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 2;
    flex-direction: column;
    padding: $m-size;
    width: 100%;
    background: $dark-blue-1;
    transform-origin: top;
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
    opacity: 0;
    @include transform(scaleY(0));

    &.open {
      opacity: 1;
      @include transform(scaleY(1));
    }
  }

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.filter__item {
  @media (max-width: $tablet) {
    width: 100%;
  }
  span {
    font-size: 12px;
    opacity: .5;
    padding-left: $s-size;
  }

  select {
    @media (max-width: $tablet) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.filter__toggle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .2);
  padding: $s-size;
  margin: 0;
  display: none;
  margin-top: $m-size;
  border: 1px solid #cacaca;

  @media (max-width: $tablet) {
    display: block;
  }

  svg { 
    width: 15px;
    height: 15px;
    margin-left: 0; 
  }
}

.filter__close {
  color: #fff;
  width: 100%;
  padding: $s-size;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $s-size;
  display: none;

  @media (max-width: $tablet) {
    display: block;
  }
}