.modal__link {
  @extend button;
  @extend .button--primary; 
  text-decoration: none;
  display: block;
  margin-top: $l-size;
  margin: auto;
}

.styles_modal__gNwvD {
  @media (max-width: $mobile) {
    padding: $m-size !important;
  }
}