.navigation {
  width: 100%;
  height: 80px;  
  padding: 0 $xl-size;
  background: $dark-blue-0;
  position: fixed;
  top: 0;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
  z-index: 15;
  
  @media (max-width: $mobile) {
    padding: 0;
  }
}

.navigation__wrapper {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.navigation__menu {
  display: flex;
  align-items: center;
}

.navigation__menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}


.navigation__search {
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: $mobile) {
    position: absolute; 
    right: 0;
  }
}

.navigation__items {
  height: 100%;
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    position: absolute;
    left: 0;
  }
}

.navigation__link {
  color: #fff;
  opacity: .7;
  display: inline-block;
  font-size: rem(28);
  margin: 0 $m-size;
  text-decoration: none;
  position: relative;
}

.navigation__active {
  font-weight: 700;
  opacity: 1;
}

.navigation__active:after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background: $blue;
}

.navigation__logo {
  margin: $l-size;
  h1 {
    letter-spacing: 5px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    text-align: center;
  }
}