.navigation {
  width: 100%;
  height: 80px;  
  padding: 0 $xl-size;
  background: $dark-blue-0;
  position: fixed;
  top: 0;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
  z-index: 15;
  
  @media (max-width: $mobile) {
    padding: 0;
  }
}

.navigation__wrapper {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.navigation__menu {
  display: flex;
  align-items: center;
  @include transition();

  @media (max-width: $tablet) {
    padding: 0 $m-size;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: auto;
    background: $dark-blue-1;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
    @include transform(scaleY(0));

    &.open {
      visibility: visible;
      opacity: 1;
      @include transform(scaleY(1));
    }
  }
}

.navigation__menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}


.navigation__search {
  display: flex;
  align-items: center;
  position: relative;
  @include transition();

  @media (max-width: $tablet) {
    width: 100%;
    position: absolute; 
    right: 0;
    top: 80px;
    background: $dark-blue-1;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0, .2);
    transform-origin: top;
    @include transform(scaleY(0));

    &.open {
      visibility: visible;
      opacity: 1;
      @include transform(scaleY(1));
    }
  }
}

.navigation__link {
  color: #fff;
  opacity: .7;
  display: inline-block;
  font-size: rem(28);
  margin: 0 $m-size;
  text-decoration: none;
  position: relative;

  @media (max-width: $tablet) {
    display: block;
    width: 100%;
    padding: $m-size;
    margin: 0;
  }
}


.navigation__link:not(:last-child) {
  @media (max-width: $tablet) {
    border-bottom: 1px solid lighten($dark-blue-1, 10%);
  }
}

.navigation__active {
  font-weight: 700;
  opacity: 1;

  @media (max-width: $tablet) {
    color: $blue;
  }
}

.navigation__active:after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background: $blue;

  @media (max-width: $tablet) {
    display: none;
  }
}

.navigation__logo {
  margin: $l-size;
  h1 {
    letter-spacing: 5px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    text-align: center;
  }
}

.navigation__toggle {
  width: 30px;
  height: 20px;
  position: absolute;
  left: $m-size;
  overflow: hidden;
  display: none;

  @media (max-width: $tablet) {
    display: block;
  }

  div {
    width: 100%;
    height: 1px;
    background: #fff;
    @include transition();
  }

  div:first-child {
    position: absolute;
    top: 0;
  }

  div:nth-child(2) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  div:last-child {
    position: absolute;
    bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &.open {
    div:first-child {
      transform: rotate(-45deg);
      top: 10px;
    }

    div:last-child {
      transform: rotate(45deg);
      bottom: 10px;
    }

    div:nth-child(2) {
      opacity: 0;
      left: -100%;
    }
  }
}

.search__toggle {
  position: absolute;
  right: 0;
  display: none;

  @media (max-width: $tablet) {
    display: block;
  }
}