.pagination__wrapper {
  margin-bottom: $xl-size;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 45rem;
  margin: auto;
  margin-bottom: rem(50);

  li {
    list-style: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(5);

    a {
      text-decoration: none;
      color: #fff;
      display: block;
    }
  }

  li.active {
    background: $blue;
    border-radius: 50%;
  }
}
