.backdrop__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $s-size;
  justify-items: center;
  padding: $l-size $m-size;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

}

.backdrop__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  @include mobile {
    height: 300px;
  }
}

.backdrop__card .card__image {
  height: 100%;

  @include mobile {
    width: 100%;
  }
}

.backdrop__card img {
  height: 282px;

  @include mobile {
    height: 180px;
  }
}

.backdrop__card:hover {
  cursor: pointer;
  
  &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      background: transparentize($dark-blue-0, .4);
      background: linear-gradient(to bottom, transparentize($dark-blue-0, .9) 0%, $blue 80%);
      border-radius: 6px;

      @include tablet {
        display: none;
      }
    }

    .poster__details {
      bottom: 0;
    }
}

.backdrop__card {
  width: 100%;
  height: 282px;
  overflow: hidden;
  margin-bottom: 0;

  @include mobile {
    width: 100% !important;
    height: 180px !important;
  }
}