.card {
  width: 180px;
  height: 380px;
  margin-bottom: $l-size;
  position: relative;
  @include transition();

  @include mobile {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
  }

  @include s-mobile {
    width: 130px;
  }
}

.card__rating {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem 1rem;
  background: $red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  &-vote {
    margin: 0;
    color: white;
    margin-left: 5px;
  }

  &-star {
    color: white;
  }
}

.card__image {
  width: 100%;
  height: 270px;
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 99%;
    height: 99%;
    background: var(--input-background);
    z-index: 0;
  }

  @include mobile {
    width: 150px;
    height: 225px;
  }

  @media (max-width: $x-mobile) {
    width: 130px;
    height: 190px;
  }

  img {
    position: relative;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  & > div,
  & > span {
    position: relative;
    z-index: 1;
  }
}

.card__details {
  .star-ratings {
    margin-top: $s-size;

    @include mobile {
      margin-top: 5px;
    }

    svg {
      @include mobile {
        width: 10px !important;
        height: 10px !important;
      }

      @media (max-width: $x-mobile) {
        width: 8px !important;
        height: 8px !important;
      }
    }

    svg path {
      fill: var(--star-color);
    }
  }

  h4 {
    margin-bottom: 0;
    width: 180px;
    color: var(--heading-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile {
      width: 100%;
      margin-top: 10px;
      font-size: 1.3rem;
    }
  }
}

.card__character {
  font-size: 1.1rem;
  color: #cacaca;
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-subtle);
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 0.5rem;

  p {
    color: var(--text-color-subtle);
    margin: 0;
  }

  svg {
    fill: #fff;
    opacity: 1;
  }

  button:hover svg path {
    fill: $red;
  }

  button:hover + .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.genre__card {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  position: relative;
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: $m-size;
  display: flex;
  align-items: center;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: transparentize($dark-blue-0, 0.3);
    border-radius: 10px;
    border: 1px solid var(--input-background);
    @include transition();
  }

  a {
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 3.5rem 0;

    @include mobile {
      padding: 1.5rem 0;
    }
  }

  h1 {
    margin: 0;
    color: #fff;

    @include mobile {
      font-size: 1.8rem;
    }
  }
}

.genre__card:hover:after {
  background: transparentize($blue, 0.1);
}

.genre__card-details {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
