.scrolltop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: $l-size;
  right: $l-size;
  padding: 0;
  justify-content: center;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  z-index: map-get($z-index, 'scrolltop');
  transform: scale(0);
  @include transition();

  i {
    color: $off-black;
  }

  @include mobile {
    right: $m-size;
    bottom: $m-size;
  }
}