.modal-video {
	background: rgba(0, 0, 0, 0.8) !important;
	z-index: 999 !important;
}

.modal-video-close-btn {
	background: $red;
	padding: 2px;
	right: 0;

	@include mobile {
		right: 3%;
	}
}

.modal-video-close-btn:before, 
.modal-video-close-btn:after {
  width: 30px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	@include mobile {
		width: 20px;
	}
}

.modal-video-movie-wrap {
  background: $dark-blue-1;
}
