
.movie__overview {
  width: 100%;
  position: relative;
}

.movie__overview-wrapper {
  padding-top: 12rem;
}

.movie__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: $s-size;
  justify-items: center;
  padding: $l-size $m-size;

  @include laptop {
    grid-template-columns: repeat(4, 1fr);
  }
  
  @include only-tablet {
    grid-template-columns: repeat(3, 1fr);
    padding: $l-size 0;
  }

  @include only-mobile {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  @include s-mobile {
    grid-gap: 0;
  }
}

.movie__header {
  padding: $m-size;
  padding-right: 0;
  display: flex;
  position: relative;
  justify-content: space-between;

  @include mobile {
    padding: $m-size 0;
    // margin-top: 5rem;
  }
}

.movie__header-title {
  h1 {
    text-transform: capitalize;
    margin: 0;

    @include mobile {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
  
  h3 {
    color: #a1a1a1;
    margin: 0;
    font-size: 1.6rem;
    
    @include mobile {
      font-size: 1rem;
    }
  }
}

.movie__casts {
  @include desktop {
    width: 1360px;
    margin: auto;
  }
}

.movie__casts-content {
  display: flex;

  @include laptop {
    flex-direction: column;
  }
}

.movie__casts-wrapper {
  width: 75%;
  padding-bottom: $xl-1-size;
  padding-right: $xl-size;

  @include tablet {
    width: 100%;
    padding: 0 $l-size;
  }

  @include only-mobile {
    padding: 0;
    margin-bottom: 5rem;
  }

  // button {
  //   @include mobile {
  //     width: 100%;
  //     display: block;
  //   }
  // }
}

.movie__casts-header {
  padding: $xl-size 0;

  @include mobile {
    padding-top: 0;
    padding-bottom: $m-size;
    text-align: center;
  }
}

.header__title {
  width: 100%;
  
  @include mobile {
    text-align: center;

    h1 {
        font-size: 2rem;
      }
  }
}

.movie__casts-grid  {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $s-size;
  justify-items: center;

  @include only-tablet {
    grid-template-columns: repeat(3, 1fr);  
  }

  @include only-mobile {
    grid-template-columns: repeat(2, 1fr);  
  }
}

.movie__details {
  width: 25%;
  padding: $xl-size $m-size;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    padding: 0;
    padding-top: $m-size;
  }

  div {
    margin-bottom: $l-size;

    @include tablet {
      display: inline-block;
      margin-right: $l-size;
    }

    @include mobile {
      margin-bottom: $s-size;
    }
  }

  h4 {
    margin-bottom: $s-size;
  }

  p, 
  a {
    font-size: rem(20);
  }

  p {
    margin: 0;
  }
}

