//Colors
$yellow: #f7ef47;
$off-black: #313131;
$dark-blue-1: #111316;
$dark-blue-0: #050607;
$blue: #31adff;
$red: #ff2e4f;
$off-white: #f6f6f6;
$muted: #dadada; 
$heading-color: #fff;
$background: lighten($dark-blue-0, 2%);
$input-bg: lighten($dark-blue-0, 5%);
$input-focus: lighten($dark-blue-0, 10%)