* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    background: $dark-blue-1;
    color: #fff;
    overflow-x: hidden;
}

p {
    line-height: 3rem;
}

button {
    background: none;
    border: none;
    padding: $m-size $l-size;
    border-radius: 5px;
    font-weight: 700;
    margin-right: $m-size;
    @include transition();

    svg {
        margin-left: $m-size;
    }
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}   

#app {
    display: flex;
}
