html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    background: $dark-blue-1;
    color: #fff;
    overflow-x: hidden;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}   

#app {
    display: flex;
}
