//Colors
$black: #1b1b1b;
$yellow: #f7ef47;
$off-black: #313131;
$dark-blue-1: #272c30;
$dark-blue-0: #181b1d;
$blue: #31adff;
$red: #ff2e4f;
// Sizes
$baseFontSize: 16;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xl-1-size: 6.8rem;

//Breakpoints
$x-mobile: 20rem;
$mobile: 30rem;
$tablet: 50rem;
$laptop: 64rem;
$desktop: 95rem;
